.eventlogos {
    max-width: 500px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.eventlogodiv {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@media (max-width: 600px) {
  .eventlogos {
    width: 100%; /* Make the image take up the full width on small screens */
    height: auto; /* Allow the height to adjust based on the width */
    display: block; /* Ensure the images are displayed as blocks to take up full width */
  }
}

