.banner_img{
    width: 100%;
    height: 100%;
}
.mainpageimg{
    flex: 1;
    justify-content: right;
    align-items: right;
}
.mainpage_img{
    padding-top: 10px;
    width: 100%;
    height: 95%;
}
.main_text{
    flex: 2;
    padding-bottom: 30px;
}
.main_page{
    display: flex;
}
.join_button_div{
        position: center;
        text-align: center;
        padding: 20px;
}
.join_button_div a{
    padding: 20px;
   color: #fff;
}
.join_button_div li:hover{
    background-color: #cf6679;
    transition: 0.3s ease;
    border-radius: 5px;
    
}
.join_button_div li{
    background-color:#B00020;
    margin-top: 12px;
    display: inline-block;
    align-items: center;
    padding: 5px 14px;
    border-radius: 5px;
}
h4{
    font-family: "Times New Roman", "times, serif"; 
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.partners{
    display: block;
    padding: 20px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #B00020;
    border-width: 10px;
    
}
.partner_photo {
    padding: 20px;
    margin: auto;
    max-height: 300px;
    max-width: 300px;
}
.partner_photos{
    padding-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

